repos:
    # This should be before any formatting hooks like isort
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.14"
    hooks:
      - id: ruff
        args: ["--fix"]
        types: [python]
        files: ^{{ cookiecutter.module_name }}/(?!(extern|io/src/ana)/)
  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort
        types: [python]
        files: ^{{ cookiecutter.module_name }}/(?!(extern|io/src/ana)/)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
        types: [python]
      - id: check-case-conflict
        types: [python]
      - id: trailing-whitespace
        types_or: [python, rst]
        files: ^{{ cookiecutter.module_name }}/(?!(data|extern|io/src/ana)/)
      - id: check-yaml
        types: [yaml]
      - id: debug-statements
        types: [python]
      - id: check-added-large-files
        args: ["--enforce-all", "--maxkb=1054"]
      - id: end-of-file-fixer
        types_or: [python, rst]
        files: ^{{ cookiecutter.module_name }}/(?!(data|extern|io/src/ana)/)
      - id: mixed-line-ending
        types_or: [python, rst]
        files: ^{{ cookiecutter.module_name }}/(?!(data|extern|io/src/ana)/)
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: [ "--write-changes" ]
        types_or: [python, rst]
        files: ^{{ cookiecutter.module_name }}/(?!(data|extern|io/src/ana)/)
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
ci:
  autofix_prs: false
  autoupdate_schedule: "quarterly"
